################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Advent0/Debug
/Adventure/.vs/Adventure/v16/ipch/AutoPCH/44d2c5534f603120
/Adventure/Debug
/Adventure/.vs/Adventure/v16/Solution.VC.db
