################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/.vs/
/Advent0/Debug
/Advent0/Release
/Adventure/.vs
/Adventure/Debug
/Adventure/Release
*.opendb
*.db-shm
*.db-wal
*.ipch
*.user
**/Debug
